<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Tumblr is so easy to use that it’s hard to explain.</h1>
		<p>We made it really, really simple for people to make a blog and put whatever they want on it. Turns out that when you make it easy to create interesting things, that’s exactly what people do. All those great, random blogs your friends send you, those are Tumblr blogs.</p>
	</div>

</div>